body {
  font-family: 'Outfit', sans-serif;
  margin-top: 57px;
  padding: 0;
  background-color: #dad3c7; /* Beige claro */
  color: #4B7F52; /* Verde palmar */
  overflow-x: hidden;
}

/* --- HEADER FINAL LIMPIO --- */
header {
  position: fixed;
  z-index: 1100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #4B7F52;
  background-image: url("../assets/patron_palmeras.jpg");
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: contain;
  margin: 0;
  top: 0;
}

header h1 a {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #4b7f52;
  background-image: url("../assets/patron_palmeras.jpg");
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: contain;
}

header h1 a {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
}

header .menu-icon {
  font-size: 28px;
  cursor: pointer;
  color: #fff;
  background: none;
  border: none;
}

header nav.menu-header {
  display: none;
  flex-direction: column;
  background-color: #4b7f52;
  position: absolute;
  top: 110%;
  right: 20px;
  width: 220px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 1200;
}

header nav.menu-header a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 1px solid #e6b450;
  transition: color 0.3s;
}

header nav.menu-header a:hover {
  color: #e6b450;
}

header nav.menu-header.show {
  display: flex;
  width: 250px;
}



.hero {
  position: relative;
  min-height: 70vh;
  max-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  /*Imagen*/
  background-image: url("../assets/palmar-banner.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.texto-hero {
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 25px 40px;
  border-radius: 10px;
  max-width: 700px;
}

.texto-hero h2 {
  margin: 0 0 12px;
  font-size: 40px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  max-width: 800px;
}

.texto-hero p {
  margin: 0;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.index-ubicacion{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 60px 10%;
  gap: 40px;
}

.index-ubicacion .texto{
  flex: 1;
  color: #4B7F52;
  font-size: 25px;
}

.index-ubicacion .imagen_ubicacion{
  flex: 1;
}

.index-ubicacion img{
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.index-contenedor_botones {
  display: flex;
  justify-content: center;
  gap: 25px;
  /* flex-wrap: wrap; Va a poder permitir que se acomoden si la pantalla es pequeña */
  padding: 60px 10%;
}

.boton-inicio {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  width: 280px;
}

.boton-inicio img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: brightness(70%);
  transition: transform 0.4s ease, filter 0.4s ease;
  border-radius: 12px;
}

.boton-inicio:hover img {
  transform: scale(1.05);
  filter: brightness(90%);
}

.boton-inicio h3 {
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 20px;
  left: 20px;
  font-size: 1.3rem;
  font-family: "Merriweather", serif;
  z-index: 2;
}

.cta {
  background-color: rgba(230, 180, 80, 0.15);
  text-align: center;
  padding: 90px 15%;
  color: #4B7F52;
}

.cta h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.cta p {
  padding: 10px;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.boton-verde {
  background-color: #4B7F52;
  color: white;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.boton-verde:hover {
  background-color: #3E6B46;
}

/* --- Estilos Generales para el Bloque 4 --- */
.index-tarjetas {
    padding: 100px 20px;
    background-color: #f0fff0; /* Un verde muy claro, que sugiera naturaleza */
    text-align: center;
}

.index-tarjetas h2 {
    color: #2e8b57;
    margin-bottom: 15px;
}

.index-tarjetas .index-intro_tarjetas {
    max-width: 800px;
    margin: 0 auto 50px;
    font-size: 1.1em;
}

/* --- Estilos del Grid de Reconocimiento --- */
.index-grid_reconocimiento {
    display: grid;
    /* Crea 4 columnas iguales. En pantallas pequeñas, pasará a 1 o 2 columnas (ver media query) */
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.index-tarjeta_logro {
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    border-bottom: 4px solid #2e8b57; /* Detalle de color */
}

.index-tarjeta_logro:hover {
    transform: translateY(-5px); /* Pequeño efecto al pasar el mouse */
}

.index-tarjeta_logro img {
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
  justify-content: center;
}

.index-tarjeta_logro h3 {
    color: #4a4a4a;
    margin-top: 0;
    margin-bottom: 10px;
}

/* HISTORIA */

/* Bloque 1 */
.hero-historia {
  background-image: url("../assets/historia-banner.JPG");
}

/* Bloque 2 */
.historia-bloque {
  padding: 75px 10%;
}

.historia-bloque h2 {
  text-align: center;
  font-size: 2rem;
  color: #264027;
  margin-bottom: 50px;
}

.historia-usos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.historia-usos .historia-tarjeta {
  border-radius: 12px;
  padding: 25px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.historia-usos .historia-tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}

.historia-usos h3 {
  color: #4a7c59;
  margin-bottom: 10px;
}

/* Bloque 3 */

.historia-grid_hitos {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto; 
    align-items: center; 
}

.historia-hito_contenido {
    padding: 20px;
    text-align: left;
    background-color: white;
    border-left: 5px solid #2e8b57; /* Verde */
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.historia-hito_imagen img {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto; 
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}



/* Bloque 4 */

.historia-contenido_manejo {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.historia-contenido_manejo .manejo-texto {
  flex: 1 1 450px;
}

.historia-contenido_manejo .manejo-texto h2 {
  color: #264027;
  font-size: 2rem;
  margin-bottom: 20px;
}

.historia-contenido_manejo .manejo-texto h3 {
  color: #2e8b57;
  margin-top: 25px;
}

.historia-contenido_manejo .manejo-texto p {
  line-height: 1.6;
  color: #4a4a4a;
}

.historia-contenido_manejo .manejo-imagen {
  flex: 1 1 350px;
}

.historia-contenido_manejo .manejo-imagen img {
  margin-top: 80px;
  padding: auto;
  width: 105%;
  height: 105%;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}





/* FAUNA Y FLORA */

/* Bloque 1 */
.hero-fauna_flora {
  background-image: url("../assets/fauna_flora-banner.jpg");
  width: 100%;
}

/* Bloque 2 */
.fauna_flora-ecosistemas {
  background-color: #f9f7f3; /* #f9f7f3 */
  padding: 70px 10%;
}

.fauna_flora-ecosistemas h2 {
  text-align: center;
  color: #264027; /* verde oscuro */
  font-size: 2.2rem;
  margin-bottom: 12px;
}

.fauna_flora-ecosistemas p {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 40px;
  color: #4a4a4a;
  line-height: 1.6;
}

.fauna_flora-ecos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas */
  gap: 30px;
}

.fauna_flora-eco-card {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  display: flex;
  flex-direction: column;
}

.fauna_flora-eco-img {
  width: 100%;
  height: 220px;              /* altura fija */
  object-fit: cover;          /* mantiene proporción y recorta si queres */
  object-position: center;    /* pone "top" o "center 30/20%" si querés poner enfasis arriba en la imagen prini */
  display: block;
  transition: transform 0.35s ease, filter 0.35s ease;
}

.fauna_flora-eco-desc {
  padding: 18px;
}

.fauna_flora-eco-desc h3 {
  margin: 0 0 8px;
  font-size: 1.15rem;
  color: #2e8b57;
}

.fauna_flora-eco-desc p {
  text-align: left;
  margin: 0;
  line-height: 1.6;
  color: #4a4a4a;
}

.fauna_flora-eco-card:hover,
.fauna_flora-eco-card:focus-within {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.10);
}

.eco-card:hover .fauna_flora-eco-img,
.eco-card:focus-within .fauna_flora-eco-img {
  transform: scale(1.02);
  filter: brightness(1.02) contrast(1.02);
}


/* Bloque 3 y 4 */
.carousel-img-fixed {
    height: 450px; 
    object-fit: cover; 
    object-position: center;
    
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 50%;
    width: 44px;
    height: 44px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon.invert-icon,
.carousel-control-next-icon.invert-icon {
    filter: invert(100%); 
}

.carousel-item img {
  width: 60%;
  max-height: 500px;
  object-fit: cover;   /* Evita distorsión */
  object-position: center;
  border-radius: 15px;
  transition: transform 0.3s ease;
}



/* MEDIO NATURAL */

/* Bloque 1 */
.hero-medio {
  background-image: url(../assets/medio-banner.jpg)
}

/* Bloque 2 */
.medio-bloque_clima {
  background-color: #dad3c7;
  padding: 60px 5%;
  display: flex;
  justify-content: center;
}

.medio-contenedor_clima {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  gap: 40px;
}

.medio-imagen_clima {
  flex: 1 1 45%;
}

.medio-imagen_clima img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.medio-imagen_clima img:hover {
  transform: scale(1.02);
}

.medio-texto_clima {
  flex: 1 1 50%;
  font-family: "Outfit", sans-serif;
  color: #4a4a4a;
}

.medio-texto_clima h2 {
  color: #4B7F52;
  font-size: 2rem;
  margin-bottom: 15px;
}

.medio-texto_clima p {
  line-height: 1.6;
  margin-bottom: 12px;
  font-size: 1.05rem;
}

/* Bloque 3 */
.medio-bloque_relieve {
  background-color: #f8f5ef;
  padding: 60px 5%;
  display: flex;
  justify-content: center;
}

.medio-contenedor_relieve {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  gap: 40px;
  flex-wrap: wrap;
}

.medio-texto_relieve {
  flex: 1 1 50%;
  font-family: "Outfit", sans-serif;
  color: #4a4a4a;
}

.medio-texto_relieve h2 {
  color: #4B7F52;
  font-size: 2rem;
  margin-bottom: 15px;
}

.medio-texto_relieve p {
  line-height: 1.6;
  margin-bottom: 12px;
  font-size: 1.05rem;
}

.medio-imagen_relieve {
  flex: 1 1 45%;
}

.medio-imagen_relieve img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.medio-imagen_relieve img:hover {
  transform: scale(1.02);
}

/* Bloque 4 */
.medio-bloque_hidrografia {
  background-color: #e8f5f4; /* Verde-azulado muy claro */
  padding: 60px 5%;
  display: flex;
  justify-content: center;
}

.medio-contenedor_hidrografia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  gap: 40px;
  flex-wrap: wrap;
}

.medio-imagen_hidrografia {
  flex: 1 1 45%;
}

.medio-imagen_hidrografia img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.medio-imagen_hidrografia img:hover {
  transform: scale(1.02);
}

.medio-texto_hidrografia {
  flex: 1 1 50%;
  font-family: "Outfit", sans-serif;
  color: #4a4a4a;
}

.medio-texto_hidrografia h2 {
  color: #3b7065;
  font-size: 2rem;
  margin-bottom: 15px;
}

.medio-texto_hidrografia p {
  line-height: 1.6;
  margin-bottom: 12px;
  font-size: 1.05rem;
}


/* ACTIVIDADES */

/* Bloque 1 */
.hero-actividades {
  background-image: url(../assets/actividades-banner.png)
}

/* Bloque 2 */
.actividades-bloque-actividades {
  background-color: #fff;
  padding: 60px 5%;
  display: flex;
  justify-content: center;
}

.actividades-contenedor-actividades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
}

.actividad {
  background-color: #f8f8f8;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.actividad:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

.actividad img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.texto-actividad {
  padding: 20px;
  font-family: "Outfit", sans-serif;
  color: #4a4a4a;
}

.texto-actividad h2 {
  color: #2e8b57;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.texto-actividad p {
  line-height: 1.6;
  font-size: 1.05rem;
}

/* Bloque 3 */
.actividades-bloque-servicios {
  background-color: #f5fff5;
  padding: 80px 5%;
  font-family: "Outfit", sans-serif;
}

.actividades-bloque-servicios h2 {
  text-align: center;
  color: #4B7F52;
  font-size: 2.2rem;
  margin-bottom: 60px;
}

.servicio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 60px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.fila-inversa {
  flex-direction: row-reverse;
}

.imagen-servicio {
  flex: 1 1 45%;
}

.imagen-servicio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.imagen-servicio img:hover {
  transform: scale(1.02);
}

.texto-servicio {
  flex: 1 1 45%;
  color: #333;
}

.texto-servicio h3 {
  font-size: 1.8rem;
  color: #4B7F52;
  margin-bottom: 15px;
}

.texto-servicio p {
  font-size: 1.55rem;
  line-height: 1.6;
}

.texto-servicio a {
  color: #4B7F52;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
}

.texto-servicio a:hover {
  color: #2d5233;
}

/* Bloque 4 */
.actividades-bloque-info {
  background-color: #f0fff0;
  padding: 80px 5%;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

.actividades-bloque-info h2 {
  color: #264027;
  font-size: 2.2rem;
  margin-bottom: 50px;
}

.actividades-info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.actividades-info-item {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.actividades-info-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

.actividades-icono-info {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  object-fit: contain;
}

.actividades-info-item h3 {
  color: #2e8b57;
  font-size: 1.6rem;
  margin-bottom: 12px;
}

.actividades-info-item p {
  font-size: 1.05rem;
  color: #4a4a4a;
  line-height: 1.5;
}

.actividades-info-item img {
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
  justify-content: center;
}



/* PROBLEMAS AMBIENTALES */

/* Bloque 1 */
.hero-problemas {
  background-image: url(../assets/problemas-banner.jpg)
}

/* Bloque 2 */
.problemas-invasores {
  text-align: center;
  padding: 5rem 2rem;
  background-color: #f6f9f6;
}

.problemas-invasores h2 {
  font-size: 2.2rem;
  color: #2e4a2f;
  margin-bottom: 1rem;
}

.problemas-invasores .problemas-intro {
  max-width: 750px;
  margin: 0 auto 3rem;
  color: #444;
  font-size: 1.05rem;
  line-height: 1.7;
}

.problemas-tarjetas_invasoras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}

.problemas-tarjeta {
  background: white;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  width: 340px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.problemas-tarjeta:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.problemas-tarjeta img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.problemas-tarjeta .contenido {
  padding: 1.5rem;
  text-align: left;
}

.problemas-tarjeta h3 {
  color: #2f5e3b;
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
}

.problemas-tarjeta p {
  color: #333;
  font-size: 0.97rem;
  line-height: 1.6;
}

/* Bloque 3 */
.problemas-impacto {
  background-color: #f7faf7;
  padding: 60px 5%;
  display: flex;
  justify-content: center;
}

.problemas-contenedor_impacto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  gap: 40px;
}

.problemas-imagen_impacto {
  flex: 1 1 45%;
}

.problemas-imagen_impacto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.problemas-imagen_impacto img:hover {
  transform: scale(1.02);
}

.problemas-texto_impacto {
  flex: 1 1 50%;
  font-family: "Outfit", sans-serif;
  color: #4a4a4a;
}

.problemas-texto_impacto h2 {
  color: #264027;
  font-size: 2rem;
  margin-bottom: 15px;
}

.problemas-texto_impacto p {
  line-height: 1.6;
  margin-bottom: 12px;
  font-size: 1.05rem;
}

/* Bloque 4 */
.problemas-desafios {
  background-color: #ffffff;
  padding: 70px 5%;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

.problemas-desafios h2 {
  color: #264027;
  font-size: 2.2rem;
  margin-bottom: 40px;
}

.problemas-tarjetas_desafios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.problemas-tarjeta_desafio {
  background-color: #f7faf7;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  flex: 1 1 300px;
  max-width: 340px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.problemas-tarjeta_desafio img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.problemas-tarjeta-desafio h3 {
  color: #2e8b57;
  font-size: 1.4rem;
  margin: 15px 0 10px;
}

.problemas-tarjeta_desafio p {
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.6;
  padding: 0 20px 20px;
}

.problemas-tarjeta_desafio:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

/* Bloque 5 */
.problemas-accion {
  background-color: #f5fff5;
  padding: 80px 5%;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

.problemas-accion h2 {
  color: #264027;
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.problemas-intro_accion {
  font-size: 1.1rem;
  color: #4a4a4a;
  margin-bottom: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.problemas-tarjetas_accion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
}

.problemas-tarjeta_accion {
  background-color: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 30px 20px;
  max-width: 320px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-bottom: 4px solid #2e8b57;
}

.problemas-tarjeta_accion:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.problemas-tarjeta_accion img {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  object-fit: contain;
}

.problemas-tarjeta_accion h3 {
  color: #4B7F52;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.tarjeta-accion p {
  font-size: 1rem;
  color: #4a4a4a;
  line-height: 1.6;
}

/* FOOTER */

.footer-contenido {
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr;
  gap: 30px;
  padding: 40px 5%;
  background-color: #333333; /* <- Poner gris oscuro*/
  color: white;
}

.footer-columna h4 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 5px;
  font-weight: 600;
}

.footer-logo {
  max-width: 90px;
  height: auto;
  margin-bottom: 10px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-nav a {
  color: #6d6d6d;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #ffffff;
}

.footer-columna a {
  color: #c0c0c0;
  text-decoration: none;
}

.footer-columna a:hover {
  color: white;
  text-decoration: underline;
}

.footer-redes a {
  color: #c0c0c0;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-redes a:hover {
  color: white;
}












